{%extends 'layout.html'%}
{%block title%}Project{%endblock title%}
{%block head%}
    <h1>Project Detail</h1>
{%endblock head%}
{%block content%}
    <form class="form" id="project-form" method="post" style="margin-top: 15px;">
        <label for="">Prohect Name</label>
        <input type="text" placeholder="project name" value="{{project.name}}">
        <label for="">Description</label>
        <textarea placeholder="description" rows="4"> {{project.description}} </textarea>
        <label for="">Start Date</label>
        <input type="date" placeholder="start-date" style="width: 150px;" value="{{ start_date }}">
        <label for="">Due Date</label>
        <input type="date" placeholder="due-date" style="width: 150px;" value="{{ end_date }}">
        <label for="">Project Manager</label>
        <select style="width: 320px; height: 50px;">
            <option value="{{project.manager.id}}">{{project.full_name}}</option>
        </select>
    </form>
    <div>
        <div class="head">
            <h2>Employee in this project</h2>
            <div class="action">
                <div id="add-staff">
                    <input type="text" name="emp_id" id="input-add-staff" placeholder="EMPLOYEE ID">
                    <button type="submit" onclick="addStaff({{ project.id }})">ADD</button>
                </div>
            </div>
        </div>
        {% for staff in staffs %}
        <div class="itemGroup">
            <div class="item">
                <div>{{staff.id}}. {{staff.get_full_name}}</div>
                <div>{{staff.position.name}}</div>
                <div class="action">
                    <button type="submit" class="delete" onclick="removeStaff({{ project.id }}, {{ staff.id }})">Kick this Staff</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{%endblock content%}
{%block script%}

<script>
    function addStaff(id){
        const emp = document.getElementById('input-add-staff');
        const data = {
            emp_id: emp.value
        };

        // กำหนด path ให้ถูกต้อง
        fetch(`/project/${id}/`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' 
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Item updated successfully')
            window.location.reload()
        })
        .catch(error => console.error('Error:', error));
    }

    async function removeStaff(id, emp_Id){

        // กำหนด path ให้ถูกต้อง
        const action = {
            "action": "removeStaff",
            "emp_id": emp_Id
        }
        fetch(`/project/${id}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(action)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Item updated successfully')
            window.location.reload()
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{%endblock script%}